<html>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
      <input type="text" v-model="longueur" />
      <input type="text" v-model="largeur" />
      <br />
      Resultat : {{ result }} m2
    </div>
    <script>
      new Vue({
        el: "#app",
        data: { longueur: 0, largeur: 0 },
        computed: {
          result: function () {
            return this.longueur * this.largeur;
          }
        }
      });
    </script>
  </body>
</html>