<html>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        <input type="text" v-model="task" />
        <input type="button" @click="addTask" value="Ajouter tache"/>
        <li v-for="item in todos">
            {{ item }}
        </li>
        <p v-if="surcharge">
            Attention a la surcharge
        </p>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
            task: "",
            todos: []
        },
        methods: {
            addTask(){
                this.todos.push(this.task);
                this.task = "";
            }
        },
        computed: {
            surcharge: function(){
                return this.todos.length >= 5;
            }
        }
      });
    </script>
  </body>
</html>